# "dark" or "light"
color_theme: "dark"
github_link: "https://github.com/aringq10"
github_username: "aringq10"

permalink: pretty

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
