<!-- Metatags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- links for css, font etc. -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}"
<!-- Scripts -->
<script>
  (function() {
    try {
      var theme = localStorage.getItem('theme') || "{{ site.color_theme }}";
      document.documentElement.setAttribute('data-theme', theme);
    } catch (e) {
      console.log(e)
    }
  })();
</script>
