<div id="nav-wrapper">
  <div id="nav">
    <div id="nav-inner">
      <div id="nav-dropdown-toggle">
        {% include icons/dropdown.svg %}
      </div>
      <div id="nav-links" class="no-scrollbar">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>
          {{ item.name }}
        </a>
        {% endfor %}
        <a id="clear-cache-btn" onclick="localStorage.clear(); location.reload()">
          clear<br>cache
        </a>
      </div>

      <div id="theme-toggle">
        {% include icons/dark-mode.svg %}
        {% include icons/light-mode.svg %}
      </div>
    </div>
  </div>
  <div id="sub-nav">
    <div id="sub-nav-inner">
      {% if page.layout == "post" %}
      <a href="/blog">Back to blog</a>
      {% endif %}
      <a id="back-to-top">
        Back to top
      </a>
    </div>
  </div>

</div>
