<nav>
  <div id="nav-dropdown-toggle">
    <!--<div class="svg-import" data-file="dropdown-icon.svg" svg-id="dropdown-icon"></div>-->
    {% include icons/dropdown.svg %}
  </div>
  <div id="nav-links">
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>
        {{ item.name }}
      </a>
    {% endfor %}
    <hr>
    <a href="#" id="clear-cache-btn" onclick="localStorage.clear(); location.reload()">
      Clear<br>Cache
    </a>
  </div>

  <input type="range" id="font-slider" min="12" max="48" value="16">
  <div id="theme-toggle">
    <!--<div class="svg-import" data-file="dark-mode.svg" svg-id="dark-icon"></div>-->
    {% include icons/dark-mode.svg %}
    <!--<div class="svg-import" data-file="light-mode.svg" svg-id="light-icon"></div>-->
    {% include icons/light-mode.svg %}
  </div>
</nav>
