<div id="nav-wrapper">
  <div id="nav">
    <div id="nav-inner">
      <div id="nav-dropdown-toggle">
        {% include icons/dropdown.svg %}
      </div>
      <div id="nav-links" class="no-scrollbar">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>
          {{ item.name }}
        </a>
        {% endfor %}
      </div>

      <div id="theme-toggle">
        {% include icons/dark-mode.svg %}
        {% include icons/light-mode.svg %}
      </div>
    </div>
  </div>
  <div id="sub-nav">
  </div>
</div>
