footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    > a {
        font-size: var(--footer-font-size);
        display: flex;
        gap: 0.2em;
        > #svg-wrapper {
            position: relative;
            width: 1em;
            height: calc(2 * 1em);
            > svg {
                width: 100%;
                height: 1em;
                position: absolute;
                top: 15%;
            }
        }
    }
}

#gh-icon {
    fill: var(--gh-icon-color)
}
