.no-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
.no-select {
    user-select: none;         /* Standard */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}
.no-highlight {
  -webkit-tap-highlight-color: transparent; /* mobile tap flash */
  -webkit-touch-callout: none;              /* iOS long-press menu */
}
.mobile {
    display: none;
}
.hidden {
    display: none;
}
