// Apply hover effects only when pointer != coarse
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@import "navigation";
@import "footer";
@import "iframe_wrapper";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
    transition: background-color var(--theme-toggle-speed) ease, color var(--theme-toggle-speed) ease;
}

html {
    font-size: var(--base-font);
}

html, body {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    a {
        color: var(--primary-color);
        text-decoration: none;
    }
}
/* Wrapper holds main + footer */
#content-window {
    height: calc(100% - var(--navbar-height));
    width: 100%;
    overflow-y: scroll;
}
#content-wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    padding: 25px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 300;
    font-style: italic;
}
p, a {
    font-size: var(--medium-font);
}
