// Apply hover effects only when pointer != coarse
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

*:not(ul, li) {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: var(--text-font);
    transition: background-color var(--theme-toggle-speed) ease, color var(--theme-toggle-speed) ease;
}

html {
    font-size: var(--base-font);
}

html, body {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    a {
        color: var(--primary-color);
        text-decoration: none;
    }
}
#content-window {
    height: calc(100% - var(--navbar-height));
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    #back-to-top {
        width: var(--btt-btn-size);
        height: var(--btt-btn-size);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--nav-color);
        position: fixed;
        right: var(--side-padding);
        bottom: var(--vertical-padding);
        cursor: pointer;
        &.hidden {
            display: none;
        }
        > svg {
            width: calc(var(--btt-btn-size) / 2.5);
            height: calc(var(--btt-btn-size) / 2.5);
            transform: rotate(180deg);
        }
    }
}
#content-wrapper {
    min-height: 100%;
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
}
main {
    width: 100%;
    padding: var(--vertical-padding) var(--side-padding);
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-style: italic;
}
a {
    font-size: var(--medium-font);
    cursor: pointer;
}
p {
    font-size: var(--small-font);
    hyphens: auto;
}
ol {
    list-style-position: inside;
}

@import "helper_classes";
@import "navigation";
@import "iframe_wrapper";
@import "socials";
@import "table";
@import "dropdown";
