// Apply hover effects only when pointer != coarse
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}
.no-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@import "navigation";
@import "iframe_wrapper";
@import "socials";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
    transition: background-color var(--theme-toggle-speed) ease, color var(--theme-toggle-speed) ease;
}

html {
    font-size: var(--base-font);
}

html, body {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    a {
        color: var(--primary-color);
        text-decoration: none;
    }
}
/* Wrapper holds main + footer */
#content-window {
    height: calc(100% - var(--navbar-height));
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content-wrapper {
    min-height: 100%;
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
}
main {
    width: 100%;
    padding: 25px var(--side-padding);
    flex: 1;
    display: flex;
    flex-direction: column;
}
// Nudge posts down a bit
body.post main {
    padding-top: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-style: italic;
}
a {
    font-size: var(--medium-font);
    cursor: pointer;
    // user-select: none;       /* Standard */
    // -webkit-user-select: none; /* Safari/Chrome */
    // -moz-user-select: none;    /* Firefox */
    // -ms-user-select: none;     /* IE/Edge */
}
p {
    font-size: var(--small-font);
    hyphens: auto;
}
