.current {
    color: red;
}

nav {
    width: 100%;
    height: 100px;
    background-color: var(--nav-color);
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    z-index: 9999;
}

#nav-links {
    flex: 1;
    display: flex;
    > * {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        -webkit-tap-highlight-color: transparent;
        transition: all 0.1s ease-in-out;
        @include hover-supported() {
            background-color: var(--hover-color);
        }
    }
}
#theme-toggle, #nav-dropdown-toggle {
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#theme-toggle {
    margin-left: auto;
}
#nav-dropdown-toggle {
    display: none;
}
#dropdown-icon {
    width: 64px;
    height: 64px;
    fill: var(--text-color);
}
#light-icon {
    width: 32px;
    height: 32px;
    fill: var(--lm-icon-color);
    display: var(--lm-icon-display);
}
#dark-icon {
    width: 32px;
    height: 32px;
    fill: var(--dm-icon-color);
    display: var(--dm-icon-display);
}

@media (max-width: 700px) {
    #nav-links {
        display: none;
        background-color: var(--bg-color);
        overflow-y: scroll;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        > * {
            height: auto;
            padding: 20px 0;
            display: flex;
        }
    }
    #nav-dropdown-toggle {
        display: flex;
    }
    #nav-links.open {
        display: flex;
    }
    #dropdown-icon.rotated {
        transform: rotate(180deg);
    }
    #content-window.no-scroll {
      overflow: hidden;
    }
}
