.current {
    color: red;
}


nav {
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    > * {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 0;
        height: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    > a {
        transition: all 0.1s ease-in-out;
        @include hover-supported() {
            background-color: var(--hover-color);
        }
    }
}
