nav {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--nav-color);
    display: flex;
    z-index: 9999;
}

#nav-links {
    flex: 1;
    display: flex;
    > a {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        // -webkit-tap-highlight-color: transparent;
        color: var(--text-color);
        transition: all 0.1s ease-in-out;
        @include hover-supported() {
            background-color: var(--hover-color);
        }
    }
    > a.current {
        color: var(--nav-curr-color);
    }
}
#theme-toggle, #nav-dropdown-toggle {
    cursor: pointer;
    width: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
#theme-toggle {
    margin-left: auto;
}
#nav-dropdown-toggle {
    display: none;
}
#dropdown-icon {
    width: 64px;
    height: 64px;
    fill: var(--text-color);
    transform: rotate(-90deg);
    transition: transform var(--navbar-popout-speed) ease;
}
#light-icon {
    width: 32px;
    height: 32px;
    fill: var(--lm-icon-color);
    display: var(--lm-icon-display);
}
#dark-icon {
    width: 32px;
    height: 32px;
    fill: var(--dm-icon-color);
    display: var(--dm-icon-display);
}

@media (max-width: $mobile-breakpoint) {
    #nav-links {
        display: flex;
        background-color: var(--nav-popout-color);
        overflow-y: scroll;
        position: fixed;
        top: 100px;
        left: -100%;
        right: 100%;
        bottom: 0;
        flex-direction: column;
        > a {
            height: auto;
            padding: 20px 0;
            display: flex;
        }
        transition: all var(--navbar-popout-speed) ease;
    }
    #nav-dropdown-toggle {
        display: flex;
    }
    #nav-links.open {
        display: flex;
        left: 0;
        right: 0;
    }
    #dropdown-icon.rotated {
        transform: rotate(90deg);
    }
    #content-window.no-scroll {
      overflow: hidden;
    }
}
