#nav-wrapper {
    width: 100%;
    height: var(--navbar-height);
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

#nav {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--nav-color);
    #nav-inner {
        width: 100%;
        max-width: var(--content-width);
        height: 100%;
        display: flex;
        align-items: center;
    }
}
#sub-nav{
    height: var(--sub-nav-height);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--nav-color);

    #sub-nav-inner {
        width: 100%;
        max-width: var(--content-width);
        height: 100%;
        display: flex;
        align-items: center;
        > a {
            font-size: var(--small-font);
            padding: 0 var(--side-padding);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}
#nav-links {
    flex: 1;
    display: flex;
    height: 100%;
    > a {
        padding: 0 var(--side-padding);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: var(--text-color);
        transition: all 0.1s ease-in-out;
        @include hover-supported() {
            background-color: var(--hover-color);
        }
    }
    > a.current {
        color: var(--nav-curr-color);
    }
}
#theme-toggle, #nav-dropdown-toggle {
    cursor: pointer;
    width: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
#theme-toggle {
    margin-left: auto;
}
#nav-dropdown-toggle {
    display: none;
}
#dropdown-icon {
    fill: var(--text-color);
    transform: rotate(-90deg);
    transition: transform var(--navbar-popout-speed) ease;
}
#light-icon {
    fill: var(--lm-icon-color);
    display: var(--lm-icon-display);
}
#dark-icon {
    fill: var(--dm-icon-color);
    display: var(--dm-icon-display);
}
#dark-icon, #light-icon, #dropdown-icon {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
}

@media (max-width: $mobile-breakpoint) {
    #nav-links {
        display: flex;
        background-color: var(--nav-dropdown-color);
        overflow-y: auto;
        position: fixed;
        top: var(--nav-height);
        left: -100%;
        right: 100%;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        > a {
            height: auto;
            padding: 20px 0;
            display: flex;
        }
        > * {
            width: 100%;
        }
        transition: all var(--navbar-popout-speed) ease;
    }
    #nav-dropdown-toggle {
        display: flex;
    }
    #nav-links.open {
        display: flex;
        left: 0;
        right: 0;
    }
    #dropdown-icon.rotated {
        transform: rotate(90deg);
    }
    #content-window.no-scroll {
      overflow: hidden;
    }
}
