#links a, #links a p {
    font-size: var(--small-font);
}
#links a {
    width: max-content;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.4rem;
    margin-left: -0.4rem;
    transition: all 0.1s ease-in-out;
    @include hover-supported() {
        background-color: var(--hover-color);
    }
    > svg {
        fill: var(--icon-color);
        flex-shrink: 0;
        height: 1em;
        width: 1em;
    }
}

