table.my-table {
    width: 100%;
    border-collapse: collapse;
    td, th {
        padding: 10px;
        // border: 0.5px solid var(--text-color);
    }
    tbody tr:not(:last-child), thead tr{
        border-bottom: var(--table-border);
    }
    * {
        text-align: left;
    }
}

@media (max-width: $mobile-breakpoint) {
    table.my-table {
        border: var(--table-border);
        tbody, tr, td, th, thead {
            display: block;
            width: 100%;
            border: none;
        }
        tr {
            margin-bottom: 8px;
        }
        td {
            padding: 6px 8px;
        }
        .mobile {
            display: block;
        }
    }
}

