// variables.scss

// sass variables
    $mobile-breakpoint: 700px;

:root {
    // content
    --side-padding: 30px;
    --vertical-padding: 35px;
    --content-width: 1000px;

    // navbar
    --navbar-height: calc(var(--nav-height) + var(--sub-nav-height));
    --nav-height: 70px;
    --sub-nav-height: 30px;
    --navbar-popout-speed: 0.25s;
    --nav-curr-color: var(--primary-color);

    // theme toggle
    --theme-toggle-speed: 0.1s;
    --lm-icon-color: #fff;
    --dm-icon-color: #111;

    --icon-color: var(--text-color);

    // text
    --header-font: "Roboto Condensed", Arial, sans-serif;
    --text-font: "Source Code Pro", sans-serif;
    --base-font: 20px;
    --big-font: 2rem;
    --medium-font: 1rem;
    --small-font: 0.75rem;
    --footer-font-size: 0.75rem;
}

[data-theme="light"] {
    --nav-color: #ddd;
    --nav-dropdown-color: #f8f8f8;
    --bg-color: #fff;
    --text-color: #111;
    --primary-color: #007aff;
    --hover-color: #bbb;

    --dm-icon-display: inline;
    --lm-icon-display: none;
    --gh-icon-color: #111;
    --yt-icon-color: #111;
}
[data-theme="dark"] {
    --nav-color: #111;
    --nav-dropdown-color: #1e1e1e;
    --bg-color: #222;
    --text-color: #fff;
    --primary-color: #1e90ff;
    --hover-color: #333333;

    --dm-icon-display: none;
    --lm-icon-display: inline;
    --gh-icon-color: #fff;
    --yt-icon-color: #fff;
}

