<!doctype html>
<html>
  <head>
    <style>
      :root {
        --base-font: 20px;
      }
    </style>
    {% include header.html %}
    {% if page.custom_style %}
    {{ page.custom_style }}
    {% endif %}
    <title>{{ page.title }}</title>
  </head>
  <body class="{{ page.layout }}">
    {% include navigation.html %}
    <div id="content-window" class="no-scrollbar">
      <div id="content-wrapper">
        <main>
          {{ content }}
        </main>
      </div>
    </div>
  </body>
  <script>
      document.getElementById('theme-toggle').addEventListener('click', function () {
          const newTheme = document.documentElement.getAttribute('data-theme') === 'light' ? 'dark' : 'light';
          document.documentElement.setAttribute('data-theme', newTheme);
          localStorage.setItem('theme', newTheme);
      });
      document.getElementById('nav-dropdown-toggle').addEventListener('click', function () {
          document.getElementById('nav-links').classList.toggle('open');
          document.getElementById('dropdown-icon').classList.toggle('rotated');
          document.getElementById('content-window').classList.toggle('no-scroll');
      });

      const root = document.documentElement;
      // Initialize slider value from localStorage or CSS variable
      let storedFont = localStorage.getItem("base-font");
      if (!storedFont) {
        // Get from CSS variable
        const rootStyles = getComputedStyle(root);
        storedFont = parseFloat(rootStyles.getPropertyValue("--base-font").trim());
      }

      // Apply initial value
      root.style.fontSize = storedFont + "px";
      </script>
</html>
